# Data Loading with Pandas

In [ ]:
import pandas as pd
import urllib

In [ ]:
#Loading in local repo
iris_filename = "irisdata.csv"
iris = pd.read_csv(iris_filename)
iris.head()

In [ ]:

iris = pd.read_csv(iris_filename, sep=",", decimal=".", header =None,
                   names = ["sepal_length", "sepal_width", "petal_length", "petal_width", "target"])
iris.head()

In [ ]:
#Loading from the internet
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"
set1 = urllib.request.Request(url)
iris_p = urllib.request.urlopen(set1)
iris_other = pd.read_csv(iris_p, sep=',', decimal='.',
header=None, names= ['sepal_length', 'sepal_width',
                         'petal_length', 'petal_width', 
                         'target'])
iris_other.head()

In [ ]:
iris.columns #To get the name of columns
#The result looks like a list, but is actually a pandas index

In [ ]:
y = iris["target"]
y
#Pandas Series

In [ ]:
X = iris[['sepal_length', 'sepal_width']]
X
#getting a list of columns referring to them by their indexes
#Pandas DataFrame(heading)

In [ ]:
#obtaining the dimensions of the dataset
print(X.shape)
print(y.shape)

### Dealing with problematic data

In [ ]:
fake_dataset = pd.read_csv('a_loading_example_1.csv')
fake_dataset

In [ ]:
fake_dataset = pd.read_csv('a_loading_example_1.csv', parse_dates=[0])
fake_dataset
#parsing date as date from integer

Getting rid of missing values

In [ ]:
#replacing Nan with a more meaningful number
fake_dataset.fillna(50)

In [ ]:
#replacing with -ve constant to mark difference
fake_dataset.fillna(-1)

In [ ]:
fake_dataset.fillna(fake_dataset.mean(axis = 0))
#axis = 0 spans the rows
#axis = 1 spans the column's

In [ ]:
bad_dataset = pd.read_csv('a_loading_example_2.csv', error_bad_lines=False)
bad_dataset
#Ignoring the lines causing exception

### Dealing with big datasets

In [ ]:
#chunk and load a file
iris_chunks = pd.read_csv(iris_filename, header = None,
                          names = ["C1", "C2", "C3", "C4", "C5"], chunksize=10)
for chunk in iris_chunks:
    print("Shape:", chunk.shape)
    print(chunk)

In [ ]:
#specifically asking for an iterator to decide the length
iris_iterator = pd.read_csv(iris_filename, header=None,
                                 names=['C1', 'C2', 'C3', 'C4', 'C5'], 
                                 iterator=True)  
print(iris_iterator.get_chunk(10).shape)
print(iris_iterator.get_chunk(20).shape)
piece = iris_iterator.get_chunk(2)
piece

In [ ]:
import csv
#reader
#DictReader

In [ ]:
with open(iris_filename, 'rt') as data_stream:
      # 'rt' mode
    for n, row in enumerate(csv.DictReader(data_stream,
           fieldnames = ['sepal_length', 'sepal_width',
                         'petal_length', 'petal_width', 
                         'target'],
           dialect='excel')):
              if n== 0:
                  print (n, row)
              else:
                  break

In [ ]:
with open(iris_filename, 'rt') as data_stream:
    for n, row in enumerate(csv.reader(data_stream,
           
           dialect='excel')):
        if n== 0:
            print (n, row)
        else:
            break

In [ ]:
import numpy as np
def batch_read(filename, batch=5):
    with open (filename, "rt") as data_stream: #open data stream
        batch_output = list() #reset the batch
        #Iterate over the file
        for n, row in enumerate(csv.reader(data_stream, dialect = "excel")):
            #if the batch is of the right size
            if n>0 and n % batch ==0:
                #yield back the batch as an ndarray
                yield(np.array(batch_output))
                #reset the batch and restart
                batch_output = list()
                #otherwise add the row to the batch
            batch_output.append(row)
            #when the loop is over, yield what's left
        yield(np.array(batch_output))

In [ ]:
for batch_input in batch_read(iris_filename, batch = 3):
    print(batch_input)
    break

### Accessing other format data

In [ ]:
"""
Using SQL and SQLite to store away some data and retrieve a filtered version of it. Queries to drop any previous 
data table of the same name, and to create a new table that's capable of keeping the date, city, temperature, 
and destination data

"""
import sqlite3
drop_query = "DROP TABLE IF EXISTS temp_data;"
create_query = "CREATE TABLE temp_data \
                (date INTEGER, city VARCHAR(80), \
                temperature REAL, destination INTEGER);"
connection = sqlite3.connect("example.db")
connection.execute(drop_query)
connection.execute(create_query)
connection.commit()
data = [(20140910, "Rome",   80.0, 0),
        (20140910, "Berlin", 50.0, 0),
        (20140910, "Wien",   32.0, 1),
        (20140911, "Paris",  65.0, 0)]
insert_query = "INSERT INTO temp_data VALUES(?,?,?,?)"
connection.executemany(insert_query, data)
connection.commit()
selection_query = "SELECT date, city, temperature, destination \
                    FROM temp_data WHERE date = 20140910"
retrieved = pd.read_sql_query(selection_query, connection)
connection.close()

In [ ]:
retrieved

In [ ]:
#working with HDF5 format
storage = pd.HDFStore("example.h5")
storage['iris'] = iris
storage.close()

In [ ]:
storage = pd.HDFStore('example.h5')
storage.keys()

In [ ]:
fast_iris_upload = storage['iris']
type(fast_iris_upload)

### Putting Data Together

In [ ]:
my_own_dataset = pd.DataFrame({"Col1": range(5),
                               "Col2": [1.0] * 5,
                               "Col3": 1.0,
                               "Col4": "Hello World!"})
my_own_dataset

In [ ]:
col5 = pd.Series([4, 3, 2, 1, 0])
col6 = pd.Series([0, 0, 1, 1, 1])
a_new_dataset = pd.concat([col5, col6], axis=1,ignore_index = True, keys=['Col5', 'Col6'])

my_new_dataset = pd.concat([my_own_dataset, a_new_dataset], axis=1)
my_new_dataset